/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #3A4A4F;
  font-family: "Finlandica", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  max-width: 100%;
  padding: 0 7rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: white;
  border-top: 3px solid #1F95BE;
  border-radius: 4px;
  padding: 0.6rem;
}
.box p {
  margin-bottom: 1.5rem;
}
.box a {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #F34423;
  font-weight: 500;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-size: 40px;
  font-weight: 700px;
  padding: 1rem 0;
}

.navbar {
  padding: 0.5rem 1.8rem;
  display: block;
  background-color: white;
  border-top: 3px solid #1F95BE;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.navbar .navbar-item a {
  text-transform: capitalize;
  text-decoration: none;
  color: #1F95BE;
  font-size: 1.5rem;
  font-weight: 500;
}

.grid-layout {
  display: grid;
  grid-template-areas: "box1 box3 box4" "box2 box3 box5" "box2 box3 box6";
  gap: 1.2rem;
  grid-template-rows: repeat(3, minmax(120px, 1fr));
  grid-template-columns: repeat(auto-fit, 1fr);
  margin-bottom: 10rem;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
  margin-bottom: 20px;
}
.box2 img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 1.5rem auto;
}

.box3 {
  grid-area: box3;
}
.box3 img {
  width: 250px;
  height: 240px;
  display: block;
  margin: 1rem auto 2.4rem auto;
  border-radius: 50%;
}

.box4 {
  grid-area: box4;
}
.box4 a {
  background-color: #F34423;
  color: white;
  display: block;
  padding: 0.5625rem;
  margin: -0.4875rem -0.59375rem -1rem -0.59375rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.box5 {
  grid-area: box5;
}
.box5 h2 {
  background-color: #1F95BE;
  color: white;
  display: block;
  padding: 0.5rem;
  margin: -0.625rem -0.625rem 0.3125rem -0.625rem;
}
.box5 p {
  margin-bottom: 20px;
}

.box6 {
  grid-area: box6;
}
.box6 a {
  margin-bottom: -10px;
}

h2 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 8px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 960px;
    width: 100%;
    padding: 0 1rem;
  }

  .grid-layout {
    grid-template-areas: "box1 box4" "box2 box5" "box2 box6" "box3 ." "box3 ." "box3 .";
  }

  .box3 {
    margin-top: -20px;
  }

  .box4 a {
    margin-top: 0.92rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 960px;
    width: 100%;
    padding: 0 1rem;
  }

  br {
    display: none;
  }

  .grid-layout {
    grid-template-areas: "box1" "box2" "box2" "box3" "box3" "box3" "box4" "box5" "box6";
  }

  .box3 {
    margin-top: -20px;
  }

  .box4 a {
    margin-bottom: -0.62rem;
  }
}/*# sourceMappingURL=style.css.map */